html,
body{
	font-family:  Arial, sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}
h1{
	color: rgba(153, 148, 226, 0.781);
	font-size: 22px;
	margin: 0 0 10px 0;
	text-align: left;
}
hr{
	background: #D0D7D9;
	height: 1px;
	margin: 20px 0 20px 0;
	border: none;
}
.hide-listings,
.show-listings {
	background-color: #1C3D5A;
	width: 48%;
	color: rgba(153, 148, 226, 0.781);
}
.container{
	display: flex;
	height: 100%;
}
.options-box{
	background: #1C3D5A;
	border: 1px solid #999;
	border-radius: 3px;
	line-height: 25px;
	text-align: center;
	width: 340px;
}
.toggle-drawing{
	color: rgba(153, 148, 226, 0.781);
	background-color: #1C3D5A;
	width: 30%;
	margin-top: 10px;
	
}
.text{
	color: rgba(153, 148, 226, 0.781);
}
#pano{
	width: 200px;
	height: 200px;
}
#map{
  flex: 1 1 auto;
}
