html,
body{
	font-family:  Arial, sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}
h1{
	color: rgba(153, 148, 226, 0.781);
	font-size: 22px;
	margin: 0 0 10px 0;
	text-align: left;
}
.hide-listings,
.show-listings {
	background-color: #1C3D5A;
	width: 48%;
	color: rgba(153, 148, 226, 0.781);
}
.container{
	display: flex;
	height: 100%;
}
.options-box{
	background: #1C3D5A;
	border: 1px solid #999;
	border-radius: 3px;
	line-height: 25px;
	text-align: center;
	width: 340px;
}
.toggle-drawing{
	color: rgba(153, 148, 226, 0.781);
	background-color: #1C3D5A;
	width: 30%;
	margin-top: 10px;
}
.draw-text{
	border-top: 1px solid silver;
	padding: 5px;
	margin-top: 20px;
	color: rgba(153, 148, 226, 0.781);
}
.zoom-text,.duration-text{
	border-top: 1px solid silver;
	margin-top:20px;
	padding: 5px;
	color: rgba(153, 148, 226, 0.781);
}
::-webkit-input-placeholder{
	text-align: center;
	color: rgba(153, 148, 226, 0.781);
}
.zoom-to-area,.search-within-time, .max-duration, .mode{
	color: rgba(153, 148, 226, 0.781);
	background-color: #1C3D5A;
}
.zoom-to-area-text, .search-within-time-text {
	background-color: #1C3D5A;
	width: 60%;
}
.destinations-text{
	color: rgba(153, 148, 226, 0.781);
}
#pano{
	width: 200px;
	height: 200px;
}
#map{
  flex: 1 1 auto;
}
