html,
body{
	font-family:  Arial, sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}
h1{
	color: rgba(153, 148, 226, 0.781);
	font-size: 22px;
	margin: 0 0 10px 0;
	text-align: left;
}
.hide-listings,
.show-listings {
	background-color: #38414e;
	width: 48%;
	color: rgba(153, 148, 226, 0.781);
}
.container{
	display: flex;
	height: 100%;
}
.options-box{
	background: #212a37;
	border: 1px solid #999;
	line-height: 25px;
	text-align: center;
	width: 340px;
}
.toggle-drawing{
	color: rgba(153, 148, 226, 0.781);
	background-color: #38414e;
	margin-top: 15px;
}
.destinations{
	color: rgba(153, 148, 226, 0.781);
}
.zoom,
.duration,
.draw,
.places,
.traffic{
	border-top: 1px solid silver;
	margin-top:40px;
	padding: 5px;
	color: rgba(153, 148, 226, 0.781);
}
::-webkit-input-placeholder{
	text-align: center;
	color: rgba(153, 148, 226, 0.781);
}
.zoom-to-area,
.search-within-time,
.max-duration,
.mode,
.go-places {
	background-color: #38414e;
	text-align: center;
	margin-top: 10px;
	color: rgba(153, 148, 226, 0.781);
}
.zoom-to-area-text,
.search-within-time-text,
.places-search,
.go-traffic {
	background-color: #38414e;
	width: 70%;
	color: rgba(153, 148, 226, 0.781);
}
#pano{
	width: 200px;
	height: 200px;
}
#map{
  flex: 1 1 auto;
}
